@charset "UTF-8";


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap-reverse;
    
}

body {
    background-image: linear-gradient(black 20%, #CDD0D5)

}
 
     /* CODIGO ERRADO. Tentaiva de tirar o border da img do kindle da index. 

.tudo:nth-child(2) {
    border: solid px;
} 

*/

h1, h2, p {
    color: rgb(15, 163, 248);
}
a {
    text-decoration: none;
    color: rgb(42, 0, 228);
    border: solid 3px;
    border-radius: 30px;
    padding: 2px 25px;
}

a:hover {
    color: rgb(218, 30, 30);
    border-color: rgb(170, 6, 6);

}

.a {
    border-radius: 300px;
    box-shadow: 10px 10px 20px rgb(11, 7, 224);
    width: 300px;
    display: flex;
    justify-content: center;
}


